.serviceContainer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 10vh;
}

.serviceHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 3vh;
}

.aboutMeImageService {
    width: 50vh;
    height: 60vh;
    margin-right: 5vh;
    border-radius: 8px;
    flex-shrink: 0;
}

.textServiceContainer {
    display: flex;
    flex-direction: column;
    margin: 3vh;
    gap: 2vh;
    width: 50%;
    font-size: larger;
}

.listContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    gap: 5vh;
    background-color: white;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.textContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: smaller;
    flex-wrap: wrap;
}

.textContainer ul {
    width: auto;
    padding: 1vh;
    flex: 1;
    margin: 0 10px;
}

@media only screen and (max-width: 600px) {
    .serviceContainer {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .aboutMeImageService {
        width: 80%;
        height: auto;
        margin: 0;
    }

    .textServiceContainer {
        width: 100%;
        align-items: center;
        padding: 0 10px;
    }

    .textContainer {
        flex-direction: column;
        align-items: center;
    }

    .textContainer ul {
        width: 100%;
        text-align: center;
    }
    #message{
        width: 55vw;
    }
    .formContainer{
        width: auto;
    }
    .footerInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
