.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items at the top */
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
    position: relative;
    z-index: -1;
}

.aboutMeImageContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
}

.aboutMeImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.aboutText {
    width: 50%;
    max-width: 600px;
    text-align: justify;
    line-height: 1.6;
    padding: 10px;
    overflow-y: auto; /* Enable scrolling within the text container if necessary */
}

.aboutMeText {
    font-size: 16px;
}

/* Fade-in and move-up animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    .aboutContainer {
        flex-direction: column;
    }

    .aboutMeImageContainer,
    .aboutText {
        width: 100%;
        animation-delay: 0.1s;
    }

    .aboutMeText {
        font-size: 14px;
        padding: 10px 5px;
    }

    .aboutMeImage {
        width: 100%;
        height: auto; /* Ensure image maintains aspect ratio */
        margin-top: 20px;
    }
}
